@import url("https://fonts.googleapis.com/css2?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Poppins");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg;
}

html {
  scroll-behavior: smooth;
}
.shadowStuff {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.lin {
  background: linear-gradient(
    180deg,
    rgba(249, 222, 170, 0.5) 0%,
    #ffd37f 100%
  );
}

.rad {
  background: radial-gradient(50% 50% at 50% 50%, #1d1c27 8.85%, #2b2939 100%);
  opacity: 0.85;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.geenieShadow {
  background: rgba(255, 255, 255, 0.002);
  box-shadow: 9px -3px 30px 6px rgba(249, 164, 0, 0.2);
}

.modalLin {
  background: linear-gradient(180deg, #f9a400 0%, #f4d053 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.expLin {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 528px;
  height: 298px;
}
